/*Common nav styles*/
.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex; /* calling Flexbox container*/
    justify-content: space-between ;
    align-items: center;
    padding: 60px 100px;
    /* padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px; */
}

/* left column styles */
.navigation-wrapper > .left-column{ /* This process helps to be more specific */
    display: flex;
    align-items: center;
}
.navigation-wrapper > .left-column > .icon{
    margin-right: 15px;
}
/* Here we use started from root to get to icon class in order to elminite the danger of being overriding */
.navigation-wrapper > .left-column > .icon i{
    font-size: 2em;
    color: #858585;
}
.navigation-wrapper > .left-column>.contact-hours-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: #858585;
}
.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}

/* center column styles */
.navigation-wrapper > .center-column > .link-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
}

.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}
.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}
.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}
/*.navigation-wrapper > .center-column > */ .link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}
.link-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.link-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* right column syles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}
.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}
.navigation-wrapper > .right-column > .address-wrapper a{
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-column > .address-wrapper a:hover{
    color: #cea135;
}
.navigation-wrapper > .right-column > .location-icon a {
    color:#858585;
    font-size: 2em;   
    margin-left: 15px; /*This is to create a distance between address and the location icon */
}
.navigation-wrapper > .right-column > .location-icon a:hover{
    color: #cea135;
}

/*h1{
    color: red;
    text-decoration: underline;
}*/